.center {
  padding-top: 50px;
}
.wrap-card {
  border: 1px solid #ff0000;

  margin: auto;
  width: 300px;
  display: flex;
  border-radius: 50%;
  transition: transform 2s ease;
}
.wrap-card:hover {
  transform: rotate(180deg);
}
img {
  border: 1px solid #ff0000;
  border-radius: 50%;

  width: 100%;
}
