* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "SVN-Futura Medium", sans-serif;
}
a {
  text-decoration: none;
}
li {
  list-style-type: none;
}
.collapse{
  color: #000;
  background-color: #000;
  font-weight: 600  ;
  cursor: pointer;
}
.header {
}
.header-top {
  background-color: #f8f9fa;
}
.header-top a {
  text-decoration: none;
}
.header-top {
  top: 0;
  align-items: center;
  padding: 10px;
  display: flex;
  line-height: 39px;
  width: 100%;
  z-index: 2;
  background-color: #fff;
}
.logo {
}
.logo > div {
  margin: auto;
  width: 98px;
}
.right {
  flex: 40%;
  display: flex;
  align-items: center;
}
.bell {
  cursor: pointer;
}
.db-block {
  position: relative;
}
.db-block > div {
  font-weight: 100;
  color: #fff;
  position: absolute;
  bottom: 3px;
  right: 2px;
  transform: translate(50%, 50%);
  font-size: 1.2rem;
  width: max-content;
}
.db-block > div::after {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  border-radius: 999px;
  background-color: #47474c;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: 0.3s ease;
  z-index: -1;
  transition: 0.2s linear;
}
.db-block > img {
  width: 20px;
  height: auto;
}
@keyframes vibrate {
  0%,
  100% {
    transform: translate(0);
  }
  25% {
    transform: translate(-2px, -2px) rotate(2deg);
  }
  50% {
    transform: translate(2px, 2px) rotate(-2deg);
  }
  75% {
    transform: translate(-2px, 2px) rotate(2deg);
  }
}

/* Apply the animation on hover */
.bell:hover .db-block,
.bell:hover .notification-number {
  animation: vibrate 0.5s 2; /* Run the animation twice */
}
.enjoy_product {
  margin: 0 12px;
}
.enjoy_product > a:hover {
  color: black;
}
.enjoy_product > a {
  color: #999;
}

.cart {
  cursor: pointer;
  padding-right: 12px;
  padding-left: 12px;
}
.login {
}

.header-bottom {
  margin-top: 70px;
  text-decoration: none;
}
.header-bottom a {
  text-decoration: none;
}
.header-bottom > div a {
  text-decoration: none;
}
.strikethrough {
  border-top: #999 1px solid;
  border-bottom: #999 1px solid;
}
.menu_wrap {
  justify-content: space-around;
  display: flex;
}
.menu_item a {
  text-decoration: none;
}
.menu_item {
  display: block;
  padding: 1.3rem 1.5rem;
  font-weight: 100;
  transition: 0.2s linear;
  position: relative;
  line-height: 21px;
}
.menu_item a {
  color: #999;
  position: relative;
}
.menu_item a::after {
  content: "";
  display: block;
  width: 0;
  height: 1px;
  background-color: #000;
  border-radius: 999px;
  position: absolute;
  left: 50%;
  bottom: -17px;
  transform: translateX(-50%);
  transition: width 0.3s ease, opacity 0s 0.3s;
  opacity: 0;
}
.menu_item a:hover::after {
  width: 100%; /* Show the underline effect */
  opacity: 1; /* Make the underline visible */
}
.menu_item :hover {
  color: black;
}

//footer
.footer {
}
.fo-padding {
  color: #999;
  font-weight: 100;
  padding: 40px 20px 20px;
}
.fo-padding a {
  color: #999;
}
.fo-wrap {
  display: flex;
}
.ft__txt {
  font-weight: 100;
}
.ft__title {
  color: #000;
  font-weight: 600;
  font-size: 18px;
  font-family: "SVN-Futura Medium", sans-serif;
  margin-bottom: 2.3rem;
  text-transform: uppercase;
}
.ft__mb__btn {
  display: none;
}
.fo-item {
  flex: 25%;
}
.ft__list li {
  margin-bottom: 25px;
}
.wrap-wg-child ul {
  padding: 0;
}
.ft__mb__wrap a {
  text-decoration: none;
}
.wrap-wg-child a:hover {
  color: #000;
}
.wrap-wg-child a {
  text-decoration: none;
}
.ft__list {
  padding: 0;
}
.ft__list a:hover {
  color: #000;
}
.ft__list a {
  padding: 5px;
  margin-left: -5px;
  color: #000;
  font-weight: 100;
}
.menu li {
  margin-bottom: 23px;
}
.menu li a:hover {
  font-family: "SVN-Futura Medium", sans-serif;
  color: #000;
  font-weight: 100;
}
.fo-item a {
  padding: 5px;
  margin-left: -5px;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
  display: block;
}
.fo-item li {
  margin-bottom: 30px;
}
.fo-item a:hover {
  color: #000;
}
.fo-item p {
  margin-bottom: 20px;
}
.fl-wrap {
  display: flex;
}
.fl-wrap a {
  margin: 0 5px;
}
header {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
}

/* Định dạng nội dung sản phẩm */
#content {
  margin: 20px;
}

/* Định dạng danh sách sản phẩm */
#productList {
  list-style: none;
  padding: 0;
}

#productList li {
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

#productList li img {
  margin-right: 10px;
  width: 200px;
  height: 200px;
}

/* Định dạng nút xem chi tiết */
button {
  background-color: #4caf50;
  color: white;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
}
@media screen and (max-width: 480px) {
  .ft__mb__btn {
    margin-left: auto;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .ft__title {
    display: flex;
    align-items: center;
  }
}

//Login
